*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
  background-color: #00636E;
  /* background-color: #303A52; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
}

.title{
   color: white;
   display: flex;
   align-items: center;
}

.App{
 padding: 2rem 0;
 overflow: hidden;
}

.main{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-wrap: wrap;
}

.right{
    width: 300px;
}

.middle{
   width: 500px; 
}

.left{
    width: 500px; 
}

.table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-gp{
    display: flex;
}