@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.App{
  overflow-x: hidden; 
 /* background: linear-gradient(120deg,#3b7197,#00B3B3); */
 background-color: rgb(255, 255, 255);
 height: 100vh;
}

html, body {
    height: 100%;
}

hr{
    margin: 0.5rem 0;
}

/*----------- Start Nav Bar Section --------*/
.odds-nav{
    background-color: #00636E;
    /* background-color: #303A52; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    margin-bottom: 0.5rem;
  }

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .info{
    color: white;
    margin-left: 1rem;
    font-weight: 400;
    font-size: larger;
}
  
.title{
     color: white;
     display: flex;
     align-items: center;
}

.title span{
    font-size: 2rem;
}

.logLink{
    display: flex;
    align-items: center;
}
/*----------- End Nav Bar Section --------*/

/*----------- Start Link Button Group Section --------*/
.group-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-bottom: 1rem; */
}

.group-list .link-btn{
    margin-left: .5rem;
    background-color: #00636E;
    color:white;
    margin-bottom: 5px; 
}

.group-list .link-btn:hover{
    background-color: #237e88;
    color:whitesmoke;
}

.group-list .link-btn-active{
    margin-left: .5rem;
    background-color: #ffc107;
    color:black;
    margin-bottom: 5px;
}

.group-list .link-btn-active:hover{
    background-color: hsl(45, 77%, 64%);
    color:black;
}

/*----------- End Link Button Group Section --------*/

/*----------- Start Events Section --------*/
.main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 
.right{
     width: 300px;
}
 
.middle{
    width: 500px; 
}
 
.left{
     width: 500px; 
}
 
.table-title{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 
.input-gp{
     display: flex;
}

.site-header{
    color:green;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.bet-container .event{
    margin: 0 .3rem;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: none; 
    scroll-behavior: smooth;
}

.bet-container .event table{
   font-size: larger;
}

.bet-container .event table td,.bet-container .event table th{
    text-align: left;
    padding: 1rem 0.2rem;
 }

.bet-container .event table .team{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.bet-container .event table .team:hover{
    color: rgb(5, 181, 76);
}

.bet-container .panel{
    margin: .3rem .3rem;
}

.bet-container .panel table{
    font-size: large;
 }

.bet-container .panel .panel-details{
    border:2px solid #ddd;
    border-bottom: none;
}

.bet-container .panel select{
    width: 50%;
}

.bet-container .panel .total-txt{
   float: right;
    width: 30%;
}

.bet-container .panel button{
    margin-top: 23px;
 }

 .bet-container .panel button span{
    font-size: 1.1rem;
 }

.bet-container .event::-webkit-scrollbar-track
{
	border: 1px solid #00636E;
	background-color: #F5F5F5;
    border-radius: 10px;
}

.bet-container .event::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.bet-container .event::-webkit-scrollbar-thumb
{
	background-color:#00636E;	
    border-radius: 10px;
}

/*--------Start Report Site-------------------*/
.search-btn{
    margin-top: 2rem;
}


.search-txt{
   width: 200px;
   margin-top: 5px;
}

.report-table{
    font-size: 1.3rem;
    overflow-x: scroll;
}

/*--------end report -------------------*/

/*--------start history section -------------------*/

/*--------end history section -------------------*/

/*--------start modal section -------------------*/
.event-details{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.event-details .league{
    font-weight: bolder;
    font-size: 1.2rem;
}
/*--------end modal section -------------------*/

/* body {
    font-family: 'Roboto', sans-serif;
background-image: linear-gradient(to top, #4a8db7 0%, #74bde0 100%);
} */

/*------ media query ---------*/

@media screen and (max-width: 600px) {
    .title span{
        font-size: 1.0rem;
      }

      .profile .info{
        font-weight: 400;
        font-size: medium;
    }

    .profile img{
        width: 20px;
        height: 20px;
    }

    .logout span{
        display: none;
    }
    .odds-nav{      
        padding: 1rem 2rem;     
      }

      .bet-container .event table{
        font-size: 1rem;
     }

     .bet-container .panel table{
        font-size: 1.1rem;
     }
  }

@media screen and (min-width: 600px) {
    .logout span{
        display: block;
    }
}

@media screen and (max-width:359px){
    .group-list .btn-label{
        font-size: 0.8rem;
        font-weight: bold;
    }

    .title{
        display: none;
    }
}
